.App {
  text-align: center;
  max-height: 80%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60vmin;
  pointer-events: none;
}
.App-logo-stop {
  rotate: 10deg;
  height: 60vmin;
}

.btn {
  margin: 20px;
  outline: none;
  background-color: #282c34;
  color: yellow;
  background-color: black;
  border-radius: 5%;
  font-size: 30px;
  transition: white 250ms, box-shadow 250ms;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
